
*{
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: 0px;
    padding: 0px;
    margin: 0px;
}
.header{
    width: 100%;
    position: fixed;
    height: 100px;
    background-color: bisque;
    z-index: 1;
}

h1{
    text-align: center;
}
.header nav{
    position: absolute;
    display:block;
    top: 10px;
    right: 0px;
}
.mason{
    top: 100px;
    height: 1000px;
    background-color: #006994;
    
}

h2{
    text-align: center;
}
.mason img{
    display: block;
    position: relative;
    left: 45%;
    top: 45%;
    height: 300px;
    width: 200px;
}

.inputs{
    background-color: forestgreen;
    text-align: center;
}

footer{
    background-color: black;
    color: aliceblue;
    text-align: center;
}

